# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Poetry
poetry.lock

# Pytest
.pytest_cache/
.cache/
.coverage
coverage.xml
htmlcov/

# Allure
allure-results/
allure-report/
results

# Logs & temp
*.log
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# PyCharm / IntelliJ
.idea/

# VSCode
.vscode/

# Selenium / Selene artifacts
.selene/

# Environment variables
.env


# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# MyPy / Ruff / linters
.mypy_cache/
.ruff_cache/